<nav class='account-menu'>
  <a href='/dashboard'>Dashboard</a>
  <a class='active'>Buy</a>
  <a href='/sell'>Sell</a>
  <a href='/settings'>Settings</a>
</nav>

<div class='buy'>
  <h4>Currency</h4>
  <hr />
  <div class='buy-currency'>
    <button class='active'>
      Bitcoin
      <p class='tag'>@<%= format_usd(@current_btc_price) %></p>
    </button>
    <a href='/buy/eth'><button>
      Ether
      <p class='tag'>@<%= format_usd(@current_eth_price) %></p>
    </button></a>
  </div>

  <h4>Amount</h4>
  <hr />
  <p>Your USD Balance: <%= format_usd(@usd_balance) %></p>
  <div class='buy-inputs'>
    <form action='/user/buy/btc' method='post'>
      <div id='usd-input-box'>
        <input type='number' min='1' step='0.01' id='usd-input' name='amountusd' placeholder='0.00' maxlength='10' value='<%=@usd_amount%>'> 
        <label for='usd-amt'>USD</label>
      </div>

      <p id='arrow'>⇌</p>

      <div id='btc-input-box'>
        <input type='number' min='0' step='0.000001' id='btc-input' name='amountbtc' placeholder='0' maxlength='10' value='<%=@btc_amount%>'>
        <label for='btc-amt'>BTC</label>
      </div>

      <div class='alert'>
        <p class='alert-limit'>Insufficient funds.</p>
      </div>

      <button class='submit-buy' type='submit'>Buy Bitcoin</button>
    </form>
  </div>

  <script type='text/javascript'>
    $(document).ready(function(){
      var currentBtcPrice = '<%= @current_btc_price %>';

      function alertFunds(value) {
        $('#usd-input-box').toggleClass('red-border', value > <%= @usd_balance %>);
        $('p.alert-limit').toggle(value > <%= @usd_balance %>);  
      };

      alertFunds(0);

      $('#usd-input').on('keyup', function() {
        var input = $(this).val();
        var correspBtcValue = (input / currentBtcPrice);

        alertFunds(input);

        $('#btc-input').val(correspBtcValue.toFixed(6));
      });

      $('#btc-input').on('keyup', function() {
        var input = $(this).val();
        var correspUsdValue = (input * currentBtcPrice);

        alertFunds(correspUsdValue);

        $('#usd-input').val(correspUsdValue.toFixed(2));
      });
    });
  </script>
</div>