<nav class='account-menu'>
  <ul>
    <li class='active'><a>Dashboard</a></li>
    <li><a href='/buy/btc'>Buy</a></li>
    <li><a href='/sell/btc'>Sell</a></li>
    <li><a href='/settings'>Settings</a></li>
  </ul>
</nav>

<div class='dashboard-container'>
  <h3>Your Portfolio</h3>

  <%== pie_chart(
  @portfolio_chart_data,
  library: {chartArea: {left: '15%', height: '85%', width: '100%'}},
  label: '$',
  colors: ['#FFC100', '#6D83BC', '#7FA38F'],
  donut: true) %>

  <table class='dashboard'>
    <% @portfolio.each do |symbol, balance| %>
      <tr>
        <td class='name'>
          <%= CURRENCY_NAMES[symbol] %>
        </td>
        <td>
          <%= balance.round(5) %> <%= symbol.upcase %>
        </td>
        <td class='counter-value'>
          <%= format_usd(balance * @counter_values[symbol]) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>


<div class='dashboard-container'>
  <h3>Recent Transactions</h3>

</div>