<nav class='account-menu'>
  <ul>
    <li class='active'><a>Dashboard</a></li>
    <li><a href='/buy/btc'>Buy</a></li>
    <li><a href='/sell/btc'>Sell</a></li>
    <li><a href='/settings'>Settings</a></li>
  </ul>
</nav>

<div class='dashboard-container'>
  <h3>Your Portfolio</h3>

  <%== pie_chart(
  @portfolio_chart_data,
  library: {chartArea: {left: '15%', height: '85%', width: '100%'}},
  label: '$',
  colors: ['#FFC100', '#6D83BC', '#7FA38F'],
  donut: true) %>

  <table class='portfolio'>
    <% @portfolio.each do |symbol, balance| %>
      <tr>
        <td class='name'>
          <%= CURRENCY_NAMES[symbol] %>
        </td>
        <td>
          <%= balance.round(5) %> <%= symbol.upcase %>
        </td>
        <td>
          <%= format_usd(balance * @counter_values[symbol]) %>
        </td>
      </tr>
    <% end %>
  </table>

</div>


<div class='dashboard-container'>
  <h3>Recent Transactions</h3>

  <div style='overflow-y: auto'>
    <table class='transactions'>
      <% @transactions.each do |trx| %>
        <tr>
          <td class='name'>
            <p><b><%= trx.type.capitalize %> <%= CURRENCY_NAMES[trx.coin.to_sym.downcase] %></b></p>
            <span>@<%= format_usd(trx.price) %> per coin</span>
          </td>
          <td class="<%= trx.type %>">
            <p><%= trx.coin_amount %> <%= trx.coin.upcase %></p>
            <span>
              <%= format_usd(trx.usd_amount) %>
            </span>
          </td>
          </td>
          <td>
            <p><%= trx.time.strftime('%l:%M %p') %></p>
            <span><%= trx.time.strftime('%b %d, %Y') %></span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>