<nav class='account-menu'>
  <ul>
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/charts'>Charts</a></li>
    <li><a href='/buy'>Buy</a></li>
    <li class='active'><a>Sell</a></li>
    <li><a href='/settings'>Settings</a></li>
  </ul>
</nav>

<main class='sell'>
  <h4>Currency</h4>
  <hr />
  <div class='sell-coin'>
    <a <%== sell_link(@coin, 'btc') %>>
      <button <%== class_active_status(@coin, 'btc')%>>
        Bitcoin
        <p id='counter-value'>@<%= format_usd(@current_btc_price) %></p>
      </button>
    </a>
    <a <%== sell_link(@coin, 'eth') %>>
      <button <%== class_active_status(@coin, 'eth')%>>
        Ether
        <p id='counter-value'>@<%= format_usd(@current_eth_price) %></p>
      </button>
    </a>
  </div>

  <h4>Amount</h4>
  <hr />
  <p>
    Your <%=CURRENCY_NAMES[@coin.to_sym]%> Balance: 
    <b><%=@coin_balance.round(5)%> <%=@coin.upcase%></b>
  </p>

  <div class='currency-inputs'>
    <form action='/user/sell/<%=@coin%>' method='post' onsubmit='sellButton.disabled = true'>
      <div id='primary-input'>
        <input class='primary' id='coin-input' type='number' min='0' 
        max='9999' step='0.000001' name='coin_amount' placeholder='0'> 
        <label for='coin-input'><%= @coin.upcase %></label>
      </div>

      <p id='arrow'>⇌</p>

      <div>
        <input class='secondary' id='usd-input' type='number' min='0' max='999999' step='0.01' name='usd_amount' placeholder='0'>
        <label for='usd-input'>USD</label>
      </div>

      <div class='alert'>
        <p class='alert-limit'>Not enough <%=@coin.upcase%>.</p>
      </div>

      <button class='submit-sell' type='submit' name='sellButton'>
        Sell <%= CURRENCY_NAMES[@coin.to_sym] %>
      </button>
    </form>
  </div>
</main>

<script type='text/javascript'>
  var currentCoinPrice = '<%=instance_variable_get("@current_#{@coin}_price")%>';
  var balance = <%= @coin_balance %>;

  $.getScript('/javascript/input-conversion.js');
</script>