<nav class='account-menu'>
  <ul>
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/buy/btc'>Buy</a></li>
    <li class='active'><a>Sell</a></li>
    <li><a href='/settings'>Settings</a></li>
  </ul>
</nav>

<div class='sell'>
  <h4>Currency</h4>
  <hr />
  <div class='sell-coin'>
    <a <%== sell_link(@coin, 'btc') %>>
      <button <%== class_active_status(@coin, 'btc')%>>
        Bitcoin
        <p id='counter-value'>@<%= format_usd(@current_btc_price) %></p>
      </button>
    </a>
    <a <%== sell_link(@coin, 'eth') %>>
      <button <%== class_active_status(@coin, 'eth')%>>
        Ether
        <p id='counter-value'>@<%= format_usd(@current_eth_price) %></p>
      </button>
    </a>
  </div>

  <h4>Amount</h4>
  <hr />
  <p>
    Your <%=CURRENCY_NAMES[@coin.to_sym]%> Balance: 
    <b><%=@coin_balance.round(5)%> <%=@coin.upcase%></b>
  </p>

  <div class='currency-inputs'>
    <form action='/user/sell/<%=@coin%>' method='post'>
      <div id='usd-input-box'>
        <input type='number' min='1' max='999999' step='0.01' 
          id='usd-input' name='usd_amount' placeholder='0.00' 
          value='<%=@usd_amount%>'> 
        <label for='usd-input'><%= @coin.upcase %></label>
      </div>

      <p id='arrow'>⇌</p>

      <div>
        <input type='number' min='0' max='9999' step='0.000001' 
          id='<%=@coin%>-input' name='coin_amount' placeholder='0' 
          value='<%=@btc_amount%>'>
        <label for='<%=@coin%>-input'>USD</label>
      </div>

      <div class='alert'>
        <p class='alert-limit'>Insufficient funds.</p>
      </div>

      <button class='submit-sell' type='submit'>
        Sell <%= CURRENCY_NAMES[@coin.to_sym] %>
      </button>
    </form>
  </div>
</div>