<nav class='account-menu'>
  <ul>
    <li><a href='/dashboard'>Dashboard</a></li>
    <li><a href='/buy/btc'>Buy</a></li>
    <li class='active'><a>Sell</a></li>
    <li><a href='/settings'>Settings</a></li>
  </ul>
</nav>

<div class='sell'>
  <h4>Currency</h4>
  <hr />
  <div class='sell-coin'>
    <a <%== sell_link(@coin, 'btc') %>>
      <button <%== class_active_status(@coin, 'btc')%>>
        Bitcoin
        <p id='counter-value'>@<%= format_usd(@current_btc_price) %></p>
      </button>
    </a>
    <a <%== sell_link(@coin, 'eth') %>>
      <button <%== class_active_status(@coin, 'eth')%>>
        Ether
        <p id='counter-value'>@<%= format_usd(@current_eth_price) %></p>
      </button>
    </a>
  </div>

  <h4>Amount</h4>
  <hr />
  <p>
    Your <%=CURRENCY_NAMES[@coin.to_sym]%> Balance: 
    <b><%=@coin_balance.round(5)%> <%=@coin.upcase%></b>
  </p>

  <div class='currency-inputs'>
    <form action='/user/sell/<%=@coin%>' method='post'>
      <div id='coin-input-box'>
        <input type='number' min='0' max='9999' step='0.000001' 
          id='coin-input' name='coin_amount' placeholder='0.00'> 
        <label for='coin-input'><%= @coin.upcase %></label>
      </div>

      <p id='arrow'>⇌</p>

      <div>
        <input type='number' min='0' max='999999' step='0.01' 
          id='usd-input' name='usd_amount' placeholder='0'>
        <label for='usd-input'>USD</label>
      </div>

      <div class='alert'>
        <p class='alert-limit'>Insufficient funds.</p>
      </div>

      <button class='submit-sell' type='submit'>
        Sell <%= CURRENCY_NAMES[@coin.to_sym] %>
      </button>
    </form>
  </div>
</div>

<script type='text/javascript'>
  $(document).ready(function(){

    var currentCoinPrice = '<%= current_prices[@coin.upcase]['USD'] %>';

    function alertFunds(value) {
      $('#coin-input-box').toggleClass('red-border', value > <%= @coin_balance %>);
      $('p.alert-limit').toggle(value > <%= @coin_balance %>);  
    };

    alertFunds(0); // toggle alert message off when page loads

    $('#coin-input').on('keyup', function() {
      var input = $(this).val();
      var correspUsdValue = (input * currentCoinPrice);

      alertFunds(input);

      $('#usd-input').val(correspUsdValue.toFixed(2));
      if(!$(this).val()) { $('#usd-input').val('') };
    });

    $('#usd-input').on('keyup', function() {
      var input = $(this).val();
      var correspCoinValue = (input / currentCoinPrice);

      alertFunds(correspCoinValue);

      $('#coin-input').val(correspCoinValue.toFixed(6));
      if(!$(this).val()) { $('#coin-input').val('') };
    });
  });
</script>